
h2 {
    color: #A9BCD0;
    font-sixe: 36px;
    text-align: center
}
body{
    background-color:#1B1B1E;
    font-family: 'Nanum Gothic', sans-serif;
    color: #D8DBE2;
    text-align: center
}
.menu{
    font-style:
}
 .color-pallete{
     background-color: white;
     border-style: solid;
     border-width: 2px;
     padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
 }
.color-1{
    height: 150px;
  width: 150%;
  background-color:#D8DBE2;
}
.color-2{
    height: 150px;
  width: 150%;
  background-color:#A9BCD0 ;
}
.color-3{
    height: 150px;
  width: 150%;
  background-color:#58A4B0 ;
}
.color-4{
    height: 150px;
  width: 150%;
  background-color:#373F51 ;
}
.color-5{
    height: 150px;
  width: 150%;
  background-color:#1B1B1E ;
}


.header {
 width: 100%;
 padding:60px 0;
 text-align: center;
 background: ##58A4B0;
 color: white;
}
