
h2 {
    color: #A9BCD0;
    font-sixe: 36px;
    text-align: center
}
body{
    background-color:#1B1B1E;
    font-family: 'Nanum Gothic', sans-serif;
    color: #D8DBE2;
    text-align: center
}
.link{
    color: #A9BCD0;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
}
.menu li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    float: left;
	width: 120px;

}
 .color-pallete{
     background-color: white;
     border-style: solid;
     border-width: 2px;
     padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
 }
.color-1{
    height: 150px;
  width: 150%;
  background-color:#D8DBE2;
}
.color-2{
    height: 150px;
  width: 150%;
  background-color:#A9BCD0 ;
}
.color-3{
    height: 150px;
  width: 150%;
  background-color:#58A4B0 ;
}
.color-4{
    height: 150px;
  width: 150%;
  background-color:#373F51 ;
}
.color-5{
    height: 150px;
  width: 150%;
  background-color:#1B1B1E ;
}


.header {
 width: 100%;
 height: 60px;
 padding:60px;
 text-align: center;
 align-items: center;
 background-color:#58A4B0;
 color: white;
}
.about{
    margin: 50px;
}
.reel{
    display: flex;
}
video{
    flex-grow: 2;
    padding-left: 100;
}
.reel p{
    flex-grow: 1;
    margin: 20;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
}
.tvimage{
    width: 500px;
}
.headshot{
    width:300px;
}
